@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Exo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Stylings for all pages */
body {
    font-family: Akshar, sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: #09160f;
}

h1, h2 {
    font-family: Exo, Sans-serif;
    font-size: 35px;
    color: whitesmoke;
}

/* Main logo for site */
#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: underline;
}

#logo:hover {
    color:#51b8c7
}

/* Navigation bar styling */
#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #51b8c7;
    color: #51b8c7;
}

.active {
    border-bottom: 1px solid #51b8c7;
}

/* Main Image */
#main-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-fox-1038916\(1\).jpg")
}

#image-text {
    font-size: 150%;
    font-family: Exo, sans-serif;
    text-transform: uppercase;
    width: 300px;
    height: 150px;
    padding-top: 20px;
    background-color: rgba(81, 184, 199, .5);
    bottom: 50px;
    right: 150px;
    position: absolute;
    text-align: center;
}

#image-text h2 {
    text-decoration: underline;
}

/* About us Section */
#about {
    height: 600px;
}

#club-header {
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 300%;
}

#left-header {
    width: 33%;
    float: left;
    padding-top: 30px;
}

#right-header {
    width: 33%;
    float: right;
    padding-top: 30px;
}

#center-header-main {
    width: 33%;
    margin: 0 auto;
}

.left-header {
    float: left;
    margin: 30px;
    text-align: right;
}

.left-header > p {
    font-size: 25px;
    text-align: justify;
}

.right-header {
    float: left;
    margin: 30px;
}

.right-header > p {
    font-size: 25px;
    text-align: justify;
}

hr {
    border-top: 1px solid whitesmoke;
    width: 100%;
    margin: 5px 0
}

#center-header {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    margin: 0 auto;
}

#center-image {
    background: url("../images/pexels-cottonbro-3945683.jpg");
    height: 100%;
}

/* Times section */
#times div {
    color: whitesmoke;
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}

.games {
    font-size: 20px;
    padding-top: 40px;
}

.times {
    font-size: 40px;
    padding-top: 40px;
}

/* Footer and Social Media Links */
footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    padding: 5px;
    margin: 10px;
    color: whitesmoke;
}

.social-media i:hover {
    color: #51b8c7;
}

/* Gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Games Section */
#games-header {
    text-align: center;
    text-decoration: underline;
    font-size: 300%;
    margin-bottom: 30px;
}

#games {
    margin-top: 30px;
    margin-left: 20px;
}

#games div {
    color: whitesmoke;
    width: 33%;
    height: 150px;
    float: left;
    text-align: center;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}

/* Sign up Page Image */
#join-image-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#join-image {
    height: 800px;
    width: 100%;
    background: url("../images/pexels-alena-darmel-7862491(1).jpg") no-repeat center;
}

/* Sign up Form */
#sign-up > h2 {
    text-align: center;
    text-decoration: underline;
}

#sign-up {
    font-size: 150%;
    font-family: Exo, sans-serif;
    text-transform: uppercase;
    width: 350px;
    height: 300px;
    padding-top: 20px;
    background-color: rgba(81, 184, 199, .5);
    bottom: 300px;
    right: 400px;
    position: absolute;
    text-align: center;
}

#submit {
    font-family: Exo, sans-serif;
    background-color: rgba(81, 184, 199, .5);
    color: whitesmoke;
    font-size: 120%;
    border: 1px solid black;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

#submit:hover {
    color:#51b8c7;
    background-color: whitesmoke;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #about {
        width: 65%;
        height: 900px;
        margin: 0 auto;
    }

    #club-header {
        padding: 30px 0;
        margin: 0;
    }

    #center-header-main {
        width: 300px;
        padding: 0;
    }

    #left-header, #right-header {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-header > h2, .right-header > h2 {
        text-decoration: underline;
    }

    #center-header {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .games {
        padding-top: 10px;
    }

    .times {
        font-size: 30px;
        padding-top: 10px;
    }

    hr {
        display: none;
    }

    #games {
        margin-left: 0px;
    }

    #games > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #image-text {
        left: 0;
    }

    #about {
        width: 90%;
        height: 900px;
        margin: 0 auto;
    }

    .left-heading, .right-heading {
        width: inherit;
    }

    .left-heading h2, .right-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-heading p, .right-heading p {
        text-align: center;
        padding: 0 20px;
    }

    .games {
        padding-top: 10px;
    }

    .times {
        font-size: 20px;
        padding-top: 10px;
    }

    #photos {
        column-count: 2;  
    }

}

/* For small screen sizes from 360px wide and down */
@media screen and (max-width: 360px){
#logo {
    font-size: 180%;
}

#times {
    height: 150px;
}

#times > div > h2 {
    font-size: 20px;
}

#times > div > P {
    font-size: 15px;
}

.social-media {
    font-size: 75%;
    padding: 1px;
    margin: 0px;
}

#sign-up {
    right: 20px;
    bottom: 300px;
}

footer {
    height: 50px;
}

}