@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Exo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Akshar, sans-serif;
    font-weight: 300;
    background-color: #4fb6c7;
}

h1 {
    font-family: Exo, Sans-serif;
    font-size: 300;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid red;
    color: red;
}

.active {
    border-bottom: 1px solid red;
}

#main-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 500px;
    width: 100%;
    background: url("../images/pexels-fox-1038916.jpg") no-repeat center center
}

#image-text {
    font-size: 150%;
    font-family: Exo, sans-serif;
    text-transform: uppercase;
    width: 300px;
    height: 150px;
    padding-top: 20px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 50px;
    right: 150px;
    position: absolute;
    text-align: center;
}

#image-text h2 {
    text-decoration: underline;
}