@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Exo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Akshar, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: Exo, Sans-serif;
    font-size: 300;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid red;
    color: red;
}

.active {
    border-bottom: 1px solid red;
}